@font-face {
    font-family: 'Bluunext';
    src: url(assets/font/BluuNext-Bold.otf) format('otf'),
        url(assets/font/bluunext-bold-webfont.woff) format('woff'),
        url(assets/font/bluunext-bold-webfont.woff2) format('woff2');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bluunext', sans-serif;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

main .imgContainer {
    position: relative;
    width: 100%;
    max-width: 500px;
    height: 100vh;
    overflow: hidden;
}

main .formContainer {
    width: 100%;
    max-width: calc(100% - 500px);
    height: 100vh;
    background-color: #252A34;
    padding: 2rem 2rem;
}

.logo {
    position: absolute;
    top: 50%;
    left: 40%;
    z-index: 1;
    transform: translate(-40%, -50%);
    width: 320px;
    object-fit: contain;
}

.imgContainer .bannerImg {
    z-index: 0;
    object-fit: scale-down;
    transform: translate(-55%, -55%);
}

.formContainer .ctaParagraphContainer {
    width: 100%;
    max-width: 750px;
}

.ctaParagraph {
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 1.28;
    color: #fff;
    margin: 4rem 1rem;
}

.ctaParagraph span {
    display: block;
    margin: 1.5rem 0;
}

.formContainer form {
    margin: 0 1rem;
}

form .formGroup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.formGroup .formControl {
    width: 100%;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 1.28;
}

legend {
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 1.28;
    color: #fff;
    margin-bottom: 1rem;
}

input::placeholder {
    text-transform: uppercase;
}