@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    /* colors */
    --primary-color: #0A0E17;
    --secondary-color: #EAEAEA;
    --placeholder-color: #B0B0B0;
    --anchor-color: #45AAB8;
    --focus-color: #4789f3;

    /* font family */
    --font-family-primary: 'Bluunext', 'Roboto', sans-serif;
    --font-family-secondary: 'Roboto', sans-serif;
}

@font-face {
    font-family: 'Bluunext';
    src: url(assets/font/BluuNext-Bold.otf) format('otf'),
        url(assets/font/bluunext-bold-webfont.woff) format('woff'),
        url(assets/font/bluunext-bold-webfont.woff2) format('woff2');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family-primary);
    color: var(--secondary-color);
}

html,
body {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #fff;
}

/* MAIN LAYOUT */
main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .leftSectionContainer {
    position: relative;
    width: 100%;
    max-width: 35svw;
    height: 100vh;
    overflow: hidden;
}

main .rightSectionContainer {
    width: 100%;
    max-width: calc(100svw - 35svw);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--primary-color);
}

.logo {
    position: absolute;
    top: 50%;
    left: 40%;
    z-index: 1;
    transform: translate(-40%, -50%);
    width: 320px;
    object-fit: contain;
}

.leftSectionContainer .bgImg {
    z-index: 0;
}

.creditsContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    text-align: center;
    font-size: 0.8rem;
    line-height: 1.28;
    word-spacing: 0.1rem;
}

.iconContainer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.icon {
    display: none;
    width: 60px;
    transform: translateY(-100%);
    animation: slideIn 1s linear infinite;
}

.credit {
    background-color: rgba(0, 0, 0, 0.45);
    font-size: 0.7rem;
}

.credit>a {
    text-decoration: underline;
}

.rightSectionContainer .ctaParagraphContainer {
    width: 100%;
    max-width: 60svw;
    margin: 1.5rem 1rem 3rem 1rem;
    padding: 0 2rem;
}

.ctaParagraph {
    font-size: 1.6rem;
    line-height: 1.28;
    word-spacing: 0.1rem;
}

.ctaParagraph>span {
    display: block;
    margin-top: 1.2rem;
}

/* animation */
@keyframes label-fade-in {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-1.4em);
        -moz-transform: translateY(-1.4em);
        -ms-transform: translateY(-1.4em);
        -o-transform: translateY(-1.4em);
        transform: translateY(-1.4em);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes f-help {
    0% {
        opacity: 0;
    }

    4% {
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

/* FORM STYLES */
form .formGroup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem 1rem;
    font-family: sans-serif;
    word-spacing: 0.1rem;
    padding: 0rem 3rem;
    margin-bottom: 2.5rem;
    width: 100%;
    max-width: 55svw;
}

.formGroup>p {
    grid-column: span 2;
    font-size: 1.8rem;
    line-height: 1.28;
    word-spacing: 0.1rem;
    margin-bottom: -0.5rem;
}

form .submitBtnContainer {
    margin: 0rem 3rem;
}

.formGroup .formControlWrapper {
    position: relative;
    width: 100%;
    max-width: 20vw;
    display: flex;
    flex-direction: column;
    line-height: 1.28;
}

.formGroup .formControl label {
    position: absolute;
    top: 0.6rem;
    left: 1rem;
    display: none;
    font-size: 0.7rem;
    word-spacing: 0.1rem;
    margin-bottom: 0.2rem;
    animation: label-fade-in 0.3s;
}

label>span {
    color: red;
}

.infoPrompt {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    font-size: 0.85rem;
    display: none;
}

.infoPrompt>p {
    color: red;
}

.infoPrompt.show {
    display: block;
    animation: f-help 2s;
}

.infoPrompt.active {
    display: block;
}

.formGroup .formControl input {
    appearance: none;
    position: relative;
    width: 100%;
    padding: 1.5rem 1rem 0.7rem 1rem;
    border: 1px solid #ccc;
    border-radius: 0.8rem;
    background-color: transparent;
    font-family: var(--font-family-secondary);
    font-size: 1rem;
    word-spacing: 0.2rem;
    /* transition: all 0.4s ease-in-out; */
}

input::placeholder {
    font-family: var(--font-family-primary);
    color: var(--placeholder-color);
    text-transform: uppercase;
    font-size: 0.8rem;
}

input:-webkit-autofill:active {
    background-color: #0A0E17 !important;
}

.formGroup .formControl input:invalid:not(:placeholder-shown) {
    border: 1px solid red;
}

form .formGroup .formControl input:focus {
    outline: none;
    border: 1px solid var(--focus-color);
}

form .formGroup .formControl input:valid {
    border: 1px solid green;
}

input:focus::placeholder {
    color: transparent;
}

.formGroup .formControl input:focus+label,
.formGroup .formControl input:valid+label,
.formGroup .formControl input:not(:placeholder-shown)+label {
    display: block;
}

.submitBtnContainer>button[type="submit"] {
    width: 100%;
    max-width: 220px;
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--anchor-color);
    font-size: 1.2rem;
    line-height: 1.28;
    word-spacing: 0.1rem;
    cursor: pointer;
    margin-bottom: 1.5rem;

}

button[type="submit"]:hover {
    background-color: var(--focus-color);
}

button[type="submit"]:active {
    transform: scale(0.96);
}

.submitBtnContainer>.existingUser {
    font-size: 1.1rem;
    line-height: 1.28;
    word-spacing: 0.1rem;
    margin-bottom: 1rem;
}

.existingUser>a {
    color: var(--anchor-color);
}

.existingUser>a:hover {
    color: var(--focus-color);
}

/* MEDIA QUERIES */
@media screen and (max-width: 1024px) {

    /* MAIN LAYOUT */
    .logo {
        width: 300px;
    }

    .rightSectionContainer .ctaParagraphContainer {
        margin-bottom: 2.5rem;
    }

    .ctaParagraph {
        font-size: 1.4rem;
    }


    /* FORM STYLES */
    form .formGroup {
        grid-gap: 1.5rem 1rem;
        max-width: 100vh;
    }

    .formGroup>p {
        font-size: 1.6rem;
    }

    .formGroup .formControlWrapper {
        max-width: 21vw;
    }

    .formGroup .formControl input {
        font-size: 0.9rem;
        padding: 1.5rem 1rem 0.6rem 0.9rem;
    }

    .formGroup .formControl label {
        top: 0.5rem;
        left: 0.85rem;
        font-size: 0.6rem;
    }

    input::placeholder {
        font-size: 0.7rem;
    }

    .submitBtnContainer>button[type="submit"] {
        max-width: 200px;
        padding: 0.5rem 1rem;
        font-size: 1.1rem;
        margin-bottom: 1rem;
    }

    .submitBtnContainer>.existingUser {
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) {

    /* MAIN LAYOUT */
    main {
        flex-direction: column;
    }

    main .leftSectionContainer {
        max-width: 100%;
        height: 100svh;
    }

    main .rightSectionContainer {
        max-width: 100%;
        align-items: center;
    }

    .logo {
        width: 250px;
        left: 46%;
    }

    .creditsContainer {
        top: 0;
        bottom: auto;
        left: 1rem;
        width: auto;
    }

    .credit {
        font-size: 0.6rem;
    }

    .icon {
        display: block;
    }

    .rightSectionContainer>.ctaParagraphContainer {
        max-width: 100vw;
        margin: 1.5rem 0;
    }

    .ctaParagraph {
        font-size: 1.3rem;
        line-height: 1.2;
        text-align: center;
    }

    .ctaParagraph>span {
        margin-top: 0.7rem;
    }

    /* FORM STYLES */
    form {
        padding: 0rem 2rem;
        width: 100%;
    }

    form .formGroup {
        grid-template-columns: 1fr;
        place-items: center;
        padding: 0;
        margin-bottom: 2rem;
    }

    .formGroup>p {
        grid-column: 1;
        text-align: center;
        margin-bottom: -0.4rem;
    }

    .formGroup .formControlWrapper {
        max-width: 65vw;
    }

    form>.submitBtnContainer {
        text-align: center;
        margin: 0;
    }
}

@media screen and (max-width: 480px) {

    /* MAIN LAYOUT */
    .logo {
        width: 200px;
        left: 43%;
    }

    main .rightSectionContainer {
        height: auto;
        min-height: 100vh;
    }

    .rightSectionContainer>.ctaParagraphContainer {
        margin: 1.2rem 0;
    }

    .ctaParagraph {
        font-size: 1.2rem;
        line-height: 1.2;
        text-align: center;
    }

    .ctaParagraph>span {
        margin-top: 0.7rem;
    }

    /* FORM STYLES */
    form .formGroup {
        row-gap: 1.5rem;
        margin-bottom: 1.6rem;
    }

    .formGroup>p {
        font-size: 1.1rem;
    }

    .formGroup .formControl input {
        padding: 1.5rem 1rem 0.6rem 0.7rem;
    }

    input::placeholder {
        font-size: 0.6rem;
    }

    .submitBtnContainer>button[type="submit"] {
        max-width: 160px;
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
        margin-bottom: 0.5rem;
    }

    .submitBtnContainer>.existingUser {
        font-size: 0.8rem;
    }
}